<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MITM Attack Demo</title>
        <style>
            body {
                text-align: center;
                font-family: Arial, sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>Hello, World!</h1>
        <h3>This is an Evil Twin Demo for MITM attack</h3>
        <h3>To test the Demo move to <a href="/login">login</a> page</a></h3>
    </body>
</html>
