<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MITM Attack Demo</title>
        <style>
            body {
                text-align: center;
                font-family: Arial, sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>Hello, World!</h1>
        <p>This is a Demo for MITM attack</p>
        <p>To test the Demo move to <a href="/login">login</a> page</a></p>
    </body>
</html>
